{% extends 'base.html' %}

{% block content_section %}

<section class="container wrap center-block">

	{% for album in albums %} {# First test #}
        <article class="song">
            <figure class="image">
                <img src="{{MEDIA_URL}}{{album.cover}}" alt="{{album.name|capfirst}} - {{album.artist|capfirst}}">
            </figure>

            <p class="name">
                {{album.name|capfirst}}
            </p>

            <p class="author">
                {{album.artist|capfirst}}  {{album.artist.last_name|capfirst}}
            </p>

        </article>
    {% endfor %}
    </section>

{% endblock content_section %}

{% block handlebars_templates %}
    {% verbatim %}
    
    {% endverbatim %}

{% endblock handlebars_templates %}